<?xml version="1.0"?>

<model>
  <name>turtlebot3_burger_realsense</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby) + Joshua Feldman</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    TurtleBot3 Burger w/ IntelRealsense
  </description>
</model>
